# Data Cleaning

In [39]:
import pandas as pd
import glob
import numpy as np

### Loading dataframe from csv files

<div class="alert alert-block alert-success">
<b>Our data (source code) is present in several (80) csv files.
    
The below code copies all the csv files and loads it to a pandas dataframe
</div>

In [64]:
# specifying the path to csv files
path = '/Users/radhikakumar/Desktop/Project/bt_group_project/data'
  
# csv files in the path
files = glob.glob(path + "/*.csv")
  
# defining an empty list to store content
data_frame = pd.DataFrame()
content = []
  
# checking all the csv files in the specified path
for filename in files:    
    # reading content of csv file
    df = pd.read_csv(filename, index_col=None)
    content.append(df)
  
# converting content to data frame
data_frame = pd.concat(content)

# to reset index from 0-3191
data_frame = data_frame.reset_index()
data_frame

# replacing column name reliability, with reliability
data_frame.rename(columns={'reliability,': 'reliability'}, inplace=True)

data_frame.head()

,index,content,location,date,satisfaction,customer_service,speed,reliability
0,0,Awful service awful internet speed and reliab...,Manchester~~~,2017-07-06~~~,1,1,1,1
1,1,Poor customer service. Had to speak to 7 peopl...,Norbury~~~,2017-07-06~~~,2,2,3,3
2,2,Dreadful in every aspect. It simply does not w...,Tenbury Wells~~~,2017-07-05~~~,1,1,1,1
3,3,SHOCKING service. Placed order got told it wi...,Morpeth~~~,2017-07-04~~~,1,1,1,1
4,4,Very unhappy with connection quality and custo...,Norfolk~~~,2017-07-04~~~,1,1,1,1

### Cleaning data by removing tilda's and replacing empty strings with NaN

<div class="alert alert-block alert-info">
It can be observed that there are tilda '~' characters present in the dataframe. 

This is replaced with empty string and if the column contains only empty string, then it is replaced with NaN
</div>

In [57]:
# to replace '~~~' with empty string ''
def replace_tilda(df):
    df = df.replace('~~~', '', regex=True)
    return df


# to replace empty strings with Nan
def replace_empty_strings_Nan(df):
    df = df.replace(r'^\s*$', np.NaN, regex=True)
    return df


data_frame = replace_tilda(data_frame)
data_frame = replace_empty_strings_Nan(data_frame)

### Checking for duplicate rows in the dataframe

In [58]:
data_frame[data_frame.duplicated()]

Empty DataFrame
Columns: [index, content, location, date, satisfaction, customer_service, speed, reliability]
Index: []

<div class="alert alert-block alert-info">
There are no duplicate rows observed in our dataframe
</div>

### Checking for null values in the dataframe

In [59]:
data_frame.isnull().sum()

index                 0
content               3
location             58
date                  0
satisfaction        360
customer_service    396
speed               419
reliability         431
dtype: int64

### Replacing null values

<div class="alert alert-block alert-info">
null values observed in the columns are replaced with suitable values.
</div>

In [60]:
def replace_null(value, col):
    col = col.fillna(value)
    return col

# making a copy of the original dataframe
bt_data = data_frame


# replacing null values in Ratings columns (satifaction, customer_service, speed, reliability) with 0
bt_data['satisfaction'] = replace_null(0, bt_data['satisfaction'])
bt_data['customer_service'] = replace_null(0, bt_data['customer_service'])
bt_data['speed'] = replace_null(0, bt_data['speed'])
bt_data['reliability'] = replace_null(0, bt_data['reliability'])

# replacing null value in location column with UK
bt_data['location'] = replace_null('UK', bt_data['location'])

In [61]:
bt_data.isnull().sum()

index               0
content             3
location            0
date                0
satisfaction        0
customer_service    0
speed               0
reliability         0
dtype: int64

### checking datatype of all columns in our data frame.

In [62]:
bt_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             3192 non-null   int64
 1   content           3189 non-null   object
 2   location          3192 non-null   object
 3   date              3192 non-null   object
 4   satisfaction      3192 non-null   object
 5   customer_service  3192 non-null   object
 6   speed             3192 non-null   object
 7   reliability       3192 non-null   object
dtypes: int64(1), object(7)
memory usage: 199.6+ KB

### changing dtype of date column to datetime

In [65]:
# to convert dtype of date column to datetime

def convert_to_datetime(col):
    col = pd.to_datetime(col)
    return col

bt_data['date'] = convert_to_datetime(bt_data['date'])